.Rproj.user/
.Rproj.user
.Rhistory
inst/**/*.pdf
inst/**/*.html
inst/**/*.log
inst/samples/**/*.zip
inst/samples/maxquant_txt/MSQC1/*.tex
inst/samples/maxquant_txt/MSQC1/*.R
inst/samples/maxquant_txt/MSQC1/*.out
inst/samples/maxquant_txt/MSQC1/*.aux
inst/samples/maxquant_txt/MSQC1/*.Rnw
inst/samples/maxquant_txt/MSQC1/appliedScaleFactors_Median.txt



